body{
  display:flex;
  margin:0;
  padding :0;
  justify-content: center;
  align-items: center;
  height: 100vh;
background-image:url("2.PNG") ;
}
#container{
  
  border: 2px solid grey;
  width: 250px;
  height:350px;
  padding :10px 0px 0px 10px;
  border-radius:20px;

}
h2{
  text-align: center;
color:white;
}

#email{
  margin :10px 30px 0px 30px;
  
  color:white;
}
#password{
  margin :10px 30px 0px 30px;

  color:white;
}
button{
  width:70px;
  margin:10px 0px 0px 80px;
  border-radius:20px;
}
label{
  margin-left:50px;
  color:white;
  
}
h3{
  text-align: center;
color:white;
}
a{
  margin:0px 0px 0px 5px ;
  text-decoration: none;
}
a:hover{
  background-color: orange;
  border-radius:5px;
}
#continer label{
  
  top :0px;
  left:5px;
  
}

#container input {

  border:none;
  outline: none;
  border-bottom: 2px solid orange;
  

}
